@mixin animation(
  $name,
  $duration: 1s,
  $timing-function: ease,
  $delay: 0s,
  $iteration-count: 1,
  $direction: normal,
  $fill-mode: forwards
) {
  animation: {
    name: $name;
    duration: $duration;
    timing-function: $timing-function;
    delay: $delay;
    iteration-count: $iteration-count;
    direction: $direction;
    fill-mode: $fill-mode;
  }
}

@mixin imgSlideBGOrder($sec){
  transition-delay: ($sec - 1) * .2s ;
  animation-delay: ($sec - 1) * .2s;
}
@mixin imgShowOrder($sec){
  transition: opacity 0s ($sec - 1) * .2s;
  animation-delay: ($sec - 1) * .2s;
}