html {
  font-family: "Noto Sans JP", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td, figure, figcaption {
  margin: 0;
  padding: 0;
}

img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
  border: 0;
}

li {
  list-style: none;
  list-style-position: inside;
}

header a, footer a {
  text-decoration: none;
}

input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.ly_header {
  margin-top: 32px;
}

main {
  height: 200vh;
}

.bl_headerConts {
  padding: 0 16px;
  text-align: center;
}

.bl_headerConts_ttl {
  color: #20284e;
  font-family: "Montserrat", sans-serif;
}

.bl_headerConts_nav {
  margin-top: 32px;
}

.bl_headerConts_list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.bl_headerConts_link {
  display: block;
  width: 200px;
  border-radius: 8px;
  background-color: #f5be48;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: 56px;
  text-transform: capitalize;
}

.ly_cont {
  width: 90%;
  margin: 100px auto;
}

.bl_sect {
  padding: 80px;
  background: #f6f6f6;
  border-radius: 32px;
}

.bl_sect:not(:first-child) {
  margin-top: 80px;
}

.bl_lv2Heading {
  margin-bottom: 24px;
  color: #6496ab;
  font-family: "Montserrat", sans-serif;
}

.bl_cardUnit {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -24px;
}

.bl_card {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-top: 24px;
}

.bl_card_ttl {
  order: 2;
}

.bl_card_img {
  order: 1;
}

.bl_coverSlide {
  position: relative;
  overflow: hidden;
}
.bl_coverSlide::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eaebe6;
  opacity: 0;
}
.bl_coverSlide.is_inview::after {
  opacity: 1;
  -webkit-animation-name: kf-bl_coverSlide;
          animation-name: kf-bl_coverSlide;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes kf-bl_coverSlide {
  0% {
    transform-origin: left;
    transform: scaleX(0);
  }
  50% {
    transform-origin: left;
    transform: scaleX(1);
  }
  50.1% {
    transform-origin: right;
    transform: scaleX(1);
  }
  100% {
    transform-origin: right;
    transform: scaleX(0);
  }
}

@keyframes kf-bl_coverSlide {
  0% {
    transform-origin: left;
    transform: scaleX(0);
  }
  50% {
    transform-origin: left;
    transform: scaleX(1);
  }
  50.1% {
    transform-origin: right;
    transform: scaleX(1);
  }
  100% {
    transform-origin: right;
    transform: scaleX(0);
  }
}
.bl_imgZoom, .bg-bl_imgZoom {
  opacity: 0;
}
.is_inview .bl_imgZoom, .is_inview .bg-bl_imgZoom {
  opacity: 1;
  transition: transform 0.3s ease;
  -webkit-animation-name: kf-img-show;
          animation-name: kf-img-show;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}
.is_inview .bl_imgZoom:hover, .is_inview .bg-bl_imgZoom:hover {
  transform: scale(1.05);
}

@-webkit-keyframes kf-img-show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
  }
}

@keyframes kf-img-show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
  }
}
.is_hoverDarken::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: background-color 0.3s ease;
  pointer-events: none;
  -webkit-animation-name: kf-img-show;
          animation-name: kf-img-show;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}
.is_hoverDarken:hover::before {
  background-color: rgba(0, 0, 0, 0.4);
}

.bg-bl_imgZoom {
  background-image: url(images/image-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.img-bg50 {
  position: relative;
}
.img-bg50::before {
  display: block;
  content: "";
  padding-top: 50%;
}

.hp_aspect {
  position: relative;
  width: 100%;
}
.hp_aspect::after {
  content: "";
  display: block;
}
.hp_aspect iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hp_aspect img, .hp_aspect > div, .hp_aspect > a, .hp_aspect > svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hp_aspect__16-9::after {
  padding-top: 56.25%;
}
.hp_aspect__4-3::after {
  padding-top: 75%;
}
.hp_aspect__1-1::after {
  padding-top: 100%;
}

/* modal --------- */
/*# sourceMappingURL=style.css.map */