@use "../../object/variables/" as var;
@use "../../mixins/" as mix;
@use "../../functions/" as func;

.bl_headerConts{
  padding: 0 16px;
  text-align: center;
}
.bl_headerConts_ttl{
  color: var.$pointColorDeepBlue;
  font-family: var.$alphabetFont;
}
.bl_headerConts_nav{
  margin-top: 32px;
}
.bl_headerConts_list{
  display: flex;
  justify-content: center;
  gap: 24px;
}
.bl_headerConts_link{
  display: block;
  width: 200px;
  border-radius: 8px;
  background-color: var.$pointColorYellow;
  color: #fff;
  font-family: var.$alphabetFont;
  font-weight: bold;
  line-height: 56px;
  text-transform: capitalize;
}
.ly_cont{
  width: 90%;
  margin: 200px auto 100px;
}
.bl_sect{
  padding: 80px;
  background: #f6f6f6;
  border-radius: 32px;
}
.bl_sect:not(:first-child){
  margin-top: 80px;
}
.bl_lv2Heading{
  margin-bottom: 24px;
  color: var.$pointColorBlue;
  font-family: var.$alphabetFont;
}
.bl_cardUnit{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -24px;
}
.bl_card{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-top: 24px;
}
.bl_card_ttl{
  order: 2;
}
.bl_card_img{
  order: 1;
}